html, body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
}

.main-document-page {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "toolbar toolbar toolbar"
                        "new active done";
  flex-grow: 1;
}



.main-document-page-toolbar-title {
  margin: 0 auto 0 60px;
}

.main-document-page-toolbar-title .editable-input {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.main-document-page-toolbar-title .editable-input:disabled {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.main-document-page-toolbar {
  grid-area: toolbar;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: violet;
}


/* temporary */
.main-document-page .col-title {
  font-size: 34px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: rgba(0,0,0,0.3);
  color: white;
}

.main-document-page-column-new {
  grid-area: new;
  background-color: green;
}

.main-document-page-column-active {
  grid-area: active;
  background-color: yellow;
}

.main-document-page-column-done {
  grid-area: done;
  background-color: royalblue;
}
